body{
    overflow-x: hidden;
}

#navegacion{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    background-color: blueviolet;
}

#fondo{
    background-color:#2c2c30;
}

#items{
    padding: 20px 50px;
}


/* Descripcion peliculas */

#item{
    display: grid;
    justify-items: center;
}

#contenedor-grid-descripcion-pelicula{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}

#contenedor-grid-descripcion-pelicula img{
    width: 300px
}

#contenedor-grid-descripcion-pelicula p{
    padding: 30px 10px;
}

/* Formulario */


#formulario{
    display: grid;
    justify-items: center;
    margin: 0 25vw;
    background-color: rgb(255, 255, 255);
}


#titulo-formulario{
    font-size: 28px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    padding: 20px ;
}

#contenedor-flex-form{
    display: flex;
    justify-content: center;
}

#contenedor-text-area{
    margin: 0 150px;
}